body{
	background-image: url("https://images7.alphacoders.com/667/667662.jpg");
	background-position: center;
	background-attachment: fixed;
}

.jumbotron {
	text-align: center;
	background-color:transparent !important; 
}
.jumbotron h1 {
	color: #EA4335;
	font-size: 75px;
}
.jumbotron p {
	color: #0d0d0d;
}
.jumbotron a {
	margin-top: 50px;
}
h3 {
	text-align: center;
	color: ;
}

.restartButton {
	text-align: center;
}

.triviaQbox {
	text-align: center;
	font-size: 16px;
	color: #050E39;
	border-color: #5FDE1B;
	border-style: solid;
	border-width: 3px;
	border-radius: 10%;
	width: 500px;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	background-color: #3DB991;
}

button {
	font-family: Arial;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #3DB991;
	padding: 0;
	border: none;
}

button:hover {
	color: #050E39;
	border-style: solid;
	border-color: #FF7602;
	width: 200px;
	background-color: #FF7602;
	height: 50px;
	border-radius: 2px;
}